body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 300px;
    margin: auto;
}

/* text */

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.color-discord {
    color: #5865f2;;
}

/* background */

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: lightgray;
}

.bg-blue {
    background-color: #5865f2;
}

/* list */

.list {
    list-style: none;
}

.list>li {
    padding: 6px 0 0 0;
}

/* header */

header {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    width: 100%;
    padding-top: 10px;
}

.containermenu {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.menuitems {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 4px 16px;
    width: 100%;
    color: white;
}

.logo,
.login {
    width: 20%;
    padding: 4px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.button {
    text-align: center;
    min-width: 70px;
    height: 20px;
    border-radius: 20px;
    padding: 6px;
    text-decoration: none;
}

.button:hover {
    color: blueviolet;
    box-shadow: 5px 10px 8px black;
    cursor: pointer;
}


.container.blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fuchsiabox {
    width: 40%;
    text-align: center;
}

/* main */

.container.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bluebox {
    width: 40%;
}


.lightpinkbox {
    width: 20%;
}

.squarecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    padding: 64px 0 64px 0;
}

.greenbox {
    width: 60%;
    text-align: center;
}

.stars {
    background-image: url(/img/stars.svg);
    background-position: center;
    background-size: contain;
    width: 60%;
    margin: auto;

}

/* footer */

.footercontainer {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: black;
}

.redbox {
    width: 20%;
}

.logos {
    width: 15px;
    height: 15px;
}

.svg {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

.cols {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 16px;

}

.cols>div {
    width: 150px;
}

.smallbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
}


.buttonbox {
    width: 10%;

}